<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038893807322-h4l1je0mopt9poupsdnoa1t64h095r7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038893807322-h4l1je0mopt9poupsdnoa1t64h095r7f</string>
	<key>API_KEY</key>
	<string>AIzaSyBIte8ehsYmAEz6fVo1AwAd7EZ-IK2mzV0</string>
	<key>GCM_SENDER_ID</key>
	<string>1038893807322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppExample.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crypto-list-app-1916</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-list-app-1916.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038893807322:ios:acd660c793ec48f63717e3</string>
</dict>
</plist>